USE [MPharma]
GO
/****** Object:  Table [dbo].[t_User]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[UserRole] [varchar](50) NULL,
	[Contact] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Transaction]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[AccountNO] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Narration] [varchar](50) NULL,
	[Inputter] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Supplier]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](50) NULL,
	[SupplierAddress] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_StockCount]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_StockCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NULL,
	[TotalCOunt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_Stock]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NULL,
	[Manufacturer] [varchar](50) NULL,
	[Supplier] [varchar](50) NULL,
	[PackageType] [varchar](50) NULL,
	[PackageCount] [int] NULL,
	[ItemPerPackage] [int] NULL,
	[QuantityPerItem] [int] NULL,
	[TotalCount] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[ManufacDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[EntryDate] [datetime] NULL,
	[Inputter] [varchar](50) NULL,
	[MedicineName] [varchar](50) NULL,
	[GenericName] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Details] [varchar](50) NULL,
	[ManufacturerPrice] [decimal](18, 2) NULL,
	[SellPrice] [decimal](18, 2) NULL,
	[InvoiceNO] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Sale]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Sale](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNO] [int] NULL,
	[CustomerID] [varchar](50) NULL,
	[CustomerName] [varchar](500) NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Unit] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[NetReceivable] [decimal](18, 2) NULL,
	[Date] [datetime] NULL,
	[Salesman] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_ProductType]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [varchar](50) NULL,
	[CategoryID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Manufacturer]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_COA]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_COA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNO] [varchar](50) NULL,
	[AccountName] [varchar](50) NULL,
	[AccountType] [varchar](50) NULL,
	[ParentAccountNO] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Category]    Script Date: 01/23/2021 23:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[uspStockAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from t_Stock
--truncate table t_Stock
--exec usp_StockAdd 1,'Beximco','ABC','Carton',100,100,100,1000000,10,1000000,'2020-01-01','2025-01-01','Tuhin'
CREATE Procedure [dbo].[uspStockAdd]
(
@ProductTypeID  int
,@Manufacturer varchar(500)
,@Supplier varchar(500)
,@PackageType varchar(500) 
,@PackageCount int
,@ItemPerPackage int
,@QuantityPerItem int
,@TotalCount int
,@UnitPrice decimal(18,2)
,@TotalPrice decimal(18,2)
,@ManufacDate datetime
,@ExpiryDate datetime
,@Inputter varchar(500)


)

as

begin
INSERT INTO [MPharma].[dbo].[t_Stock]
           ([ProductTypeID]
           ,[Manufacturer]
           ,[Supplier]
           ,[PackageType]
           ,[PackageCount]
           ,[ItemPerPackage]
           ,[QuantityPerItem]
           ,[TotalCount]
           ,[UnitPrice]
           ,[TotalPrice]
           ,[ManufacDate]
           ,[ExpiryDate]
           ,[EntryDate]
           ,[Inputter])
     VALUES
           (@ProductTypeID
           ,@Manufacturer
           ,@Supplier
           ,@PackageType
           ,@PackageCount
           ,@ItemPerPackage
           ,@QuantityPerItem
           ,@TotalCount
           ,@UnitPrice
           ,@TotalPrice
           ,@ManufacDate
           ,@ExpiryDate
           ,GETDATE()
           ,@Inputter
           )
End
GO
/****** Object:  StoredProcedure [dbo].[usp_UserCreate]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from t_User
CREATE procedure [dbo].[usp_UserCreate]
(
	@UserID varchar(10)
	,@UserName varchar(500)
	,@Role varchar(50)
	,@Contact  varchar(50)
	

)

as

INSERT INTO [dbo].[t_User]
           ([UserID]
           ,[UserName]
           ,[UserRole]
		   ,[Contact]
		   )
     VALUES
           (@UserID
		   ,@UserName
		   ,@Role
           ,@Contact
		   )
GO
/****** Object:  StoredProcedure [dbo].[usp_TransactionAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_TransactionAdd '123',99.99,'Misc expense','tuhin'
--select * from t_Transaction

CREATE procedure [dbo].[usp_TransactionAdd]
(
	@AccountNO varchar(500)
	,@Amount decimal(18,2)
	,@Narration varchar(500)
	,@Inputter varchar(500)
)
as

INSERT INTO [MPharma].[dbo].[t_Transaction]
           (
           [TransactionDate]
           ,[AccountNO]
           ,[Amount]
           ,[Narration]
           ,[Inputter]
           )
     VALUES
           (
            GETDATE()
           ,@AccountNO
           ,@Amount
           ,@Narration
           ,@Inputter
           )
GO
/****** Object:  StoredProcedure [dbo].[usp_SupplierAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_SupplierAdd]
(
	@SupplierName varchar(500)
	,@SupplierAddress varchar(500)
)

as


INSERT INTO [dbo].[t_Supplier]
           (
		   [SupplierName]
           ,[SupplierAddress]
		   )
     VALUES
           (@SupplierName
		   ,@SupplierAddress)
GO
/****** Object:  StoredProcedure [dbo].[usp_StockAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from t_Stock where InvoiceNO = 'AB-5698'
/*

Select Distinct InvoiceNO,Count(Distinct Manufacturer) Manufacturer_Count,Count( Distinct ProductCode) ProductCount ,Sum(TotalCount) Product_Count, Sum(TotalPrice) Total_Price from t_Stock where InvoiceNO = 'AB-5698'
Group By InvoiceNO

*/

--truncate table t_Stock
--exec usp_StockAdd 1,'Beximco','ABC','Carton',100,100,100,1000000,10,1000000,'2020-01-01','2025-01-01','Tuhin'
CREATE Procedure [dbo].[usp_StockAdd]
(
@ProductCode  int
,@Manufacturer varchar(500)
,@Supplier varchar(500)
,@PackageType varchar(500) 
,@PackageCount int
,@ItemPerPackage int
,@QuantityPerItem int
,@TotalCount int
,@UnitPrice decimal(18,2)
,@TotalPrice decimal(18,2)
,@ManufacDate datetime
,@ExpiryDate datetime
,@Inputter varchar(500)


,@MedicineName  varchar(500)
,@GenericName varchar(500)
,@Strength varchar(500)
,@Details varchar(500)

,@ManufacturerPrice decimal(18,2)
,@SellPrice decimal(18,2)


,@InvoiceNO varchar(500)



)

as

begin
INSERT INTO [MPharma].[dbo].[t_Stock]
           ([ProductCode]
           ,[Manufacturer]
           ,[Supplier]
           ,[PackageType]
           ,[PackageCount]
           ,[ItemPerPackage]
           ,[QuantityPerItem]
           ,[TotalCount]
           ,[UnitPrice]
           ,[TotalPrice]
           ,[ManufacDate]
           ,[ExpiryDate]
           ,[EntryDate]
           ,[Inputter]
           
       
           ,[MedicineName]
           ,[GenericName]
           ,[Strength]
           ,[Details]
           
           
           ,[ManufacturerPrice]
           ,[SellPrice]
           ,[InvoiceNO]
           
           
           )
     VALUES
           (@ProductCode
           ,@Manufacturer
           ,@Supplier
           ,@PackageType
           ,@PackageCount
           ,@ItemPerPackage
           ,@QuantityPerItem
           ,@TotalCount
           ,@UnitPrice
           ,@TotalPrice
           ,@ManufacDate
           ,@ExpiryDate
           ,GETDATE()
           ,@Inputter
           
           
           
           ,@MedicineName
           ,@GenericName
           ,@Strength
           ,@Details
           
           
           ,@ManufacturerPrice
           ,@SellPrice
           
           ,@InvoiceNO
           )

	If exists (Select * from [dbo].[t_StockCount])
		update [dbo].[t_StockCount] set TotalCount =TotalCount+@TotalCount  where ProductCode=@ProductCode
	else
		INSERT INTO [dbo].[t_StockCount]
           ([ProductCode]
           ,[TotalCOunt])
     VALUES
           (
			@ProductCode
			,@TotalCount
		   )
	 
	
End
GO
/****** Object:  StoredProcedure [dbo].[usp_ShowSale]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_ShowSale 1

CREATE procedure [dbo].[usp_ShowSale]
(
@InvoiceNO  int
)

as
  select * from [MPharma].[dbo].[t_Sale]  where InvoiceNO=@InvoiceNO
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchProduct]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from [dbo].[t_Stock]
--EXEC usp_SearchProduct 1,'AA','DDD'
CREATE Procedure [dbo].[usp_SearchProduct]
(
	@ProductTypeID int
	,@ManfacName varchar(500)=null
	,@SupplierName  varchar(500)=null


)
as
	Select 
		s.ProductTypeName Typ
		,'<a href=javascript:closeWindow(''' + convert(varchar(10),s.ProductTypeID)+'~'+ s.ProductTypeName+ ''')>' + convert(varchar(10),s.ProductTypeID) + '</a>' ProductTypeID
		,s.*
	from
	(
		Select s.*,t.ProductTypeName from
		dbo.t_Stock s join dbo.t_ProductType t
		on s.ProductTypeID=t.ID


	)s
GO
/****** Object:  StoredProcedure [dbo].[usp_SaleAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_AddSale  1,1,'Suman',1,100,'Pcs',99.99,9.99,90,'Tuhin'
--Select * from dbo.t_Sale
--drop procedure usp_AddSale
CREATE procedure [dbo].[usp_SaleAdd]
(
	@InvoiceNO int
	,@CustomerID  int =null
	,@CustomerName varchar(500)=null
	,@ProductID int
	,@Quantity int 
	,@Unit varchar(100)=null
	,@Price  Decimal(18,2)
	,@Discount Decimal(18,2)=null
	,@NetReceivable Decimal(18,2)=null
	,@Salesman  varchar(500)

)

as
begin

INSERT INTO [MPharma].[dbo].[t_Sale]
           (
           InvoiceNO
           ,[CustomerID]
           ,[CustomerName]
           ,[ProductID]
           ,[Quantity]
           ,[Unit]
           ,[Price]
           ,[Discount]
           ,[NetReceivable]
           ,[Date]
           ,[Salesman])
     VALUES
           (
           @InvoiceNO
           ,@CustomerID
           ,@CustomerName 
           ,@ProductID 
           ,@Quantity 
           ,@Unit 
           ,@Price 
           ,@Discount 
           ,@NetReceivable
          ,GETDATE()
           ,@Salesman
           )
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ProductTypeAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ProductTypeAdd]
(
	@ProductTypeName varchar(500)
	,@CategoryID int

)
as
insert into dbo.t_ProductType (ProductTypeName,CategoryID) values (@ProductTypeName,@CategoryID)
GO
/****** Object:  StoredProcedure [dbo].[usp_ManufacAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ManufacAdd]
(
@ManufacturerName varchar(500)
)
as

INSERT INTO [dbo].[t_Manufacturer]
           ([ManufacturerName])
     VALUES
           (
			@ManufacturerName
			
			
			)
GO
/****** Object:  StoredProcedure [dbo].[usp_COAAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_COAAdd]
(
@AccountNO varchar(200)
,@AccountName  varchAR(500)
,@AccountType varcHAR(200)
,@ParentAccountNO varchar(500)=null
)

as

INSERT INTO [MPharma].[dbo].[t_COA]
           (
           [AccountNO]
           ,[AccountName]
           ,[AccountType]
           ,[ParentAccountNO])
     VALUES
           (
           @AccountNO
           ,@AccountName
           ,@AccountType
           ,@ParentAccountNO
           )
GO
/****** Object:  StoredProcedure [dbo].[usp_CategoryAdd]    Script Date: 01/23/2021 23:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_CategoryAdd]
(
	@CategoryName varchar(500)

)
as
insert into dbo.t_Category values (@CategoryName)
GO
