USE [master]
GO
/****** Object:  Database [MPharma]    Script Date: 25/01/2021 6:24:09 PM ******/
CREATE DATABASE [MPharma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MPharma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MPharma.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MPharma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MPharma_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPharma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPharma]
GO
/****** Object:  StoredProcedure [dbo].[usp_CategoryAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_CategoryAdd]
(
	@CategoryName varchar(500)

)
as
insert into dbo.t_Category values (@CategoryName)

GO
/****** Object:  StoredProcedure [dbo].[usp_COAAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_COAAdd]
(
@AccountNO varchar(200)
,@AccountName  varchAR(500)
,@AccountType varcHAR(200)
,@ParentAccountNO varchar(500)=null
)

as

INSERT INTO [MPharma].[dbo].[t_COA]
           (
           [AccountNO]
           ,[AccountName]
           ,[AccountType]
           ,[ParentAccountNO])
     VALUES
           (
           @AccountNO
           ,@AccountName
           ,@AccountType
           ,@ParentAccountNO
           )

GO
/****** Object:  StoredProcedure [dbo].[usp_InvoiceCreate]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from t_Invoice
--EXEC usp_InvoiceCreate '123',null,null,null,99,99,99,99,'Test'
CREATE Procedure [dbo].[usp_InvoiceCreate]


(
		    @InvoiceNO varchar(50)=null
           ,@InvoiceAmount decimal(18,2)=null
           ,@TotalDiscount decimal(18,2)=null
           ,@VAT decimal(18,2)=null
           ,@TAX decimal(18,2)=null
           ,@NetAmount decimal(18,2)=null
           ,@PaidAmount decimal(18,2)=null
           ,@Change decimal(18,2)=null
           ,@Inputter varchar(500)=null
           

)
as


INSERT INTO [dbo].[t_Invoice]
           (
		   [InvoiceNO]
           ,[InvoiceAmount]
           ,[TotalDiscount]
           ,[VAT]
           ,[TAX]
           ,[NetAmount]
           ,[PaidAmount]
           ,[Change]
           ,[Inputter]
		   ,[DateTime]
		   )
     VALUES
           (
		   @InvoiceNO
           ,@InvoiceAmount
           ,@TotalDiscount
           ,@VAT
           ,@TAX
           ,@NetAmount
           ,@PaidAmount
           ,@Change
           ,@Inputter
		   ,getdate()
		   )



GO
/****** Object:  StoredProcedure [dbo].[usp_InvoiceNOGen]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC usp_InvoiceNOGen
CREATE procedure [dbo].[usp_InvoiceNOGen]


as

declare
	@InvoiceNO varchar(500)

--Truncate table  [dbo].[t_InvoiceNO]

Insert into [dbo].[t_InvoiceNO] ([Date]) values (getdate())

Set @InvoiceNO=SCOPE_IDENTITY()
Select 'MP-'+@InvoiceNO InvoiceNO


GO
/****** Object:  StoredProcedure [dbo].[usp_ManufacAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ManufacAdd]
(
@ManufacturerName varchar(500)
)
as

INSERT INTO [dbo].[t_Manufacturer]
           ([ManufacturerName])
     VALUES
           (
			@ManufacturerName
			
			
			)

GO
/****** Object:  StoredProcedure [dbo].[usp_MedicineAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_MedicineAdd]
(
	@MedicineName varchar(500)
	,@CategoryID int

)
as
insert into dbo.t_Medicine (MedicineName,CategoryID) values (@MedicineName,@CategoryID)

GO
/****** Object:  StoredProcedure [dbo].[usp_SearchProduct]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select * from [dbo].[t_Stock]
--EXEC usp_SearchProduct 1,'AA','DDD'
CREATE Procedure [dbo].[usp_SearchProduct]
(
	@ProductCode int =null
	,@ManufaqName varchar(500)=null
	,@SupplierName  varchar(500)=null


)
as

Select
	Product Product
	,Manufacturer
	,ExpiryDate
	,GenericName
	,Strength
	,UnitPrice
	,SellPrice
	,TotalCount
From
(



	Select 
		s.MedicineName Typ
		,'<a href=javascript:closeWindow(''' + convert(varchar(10),s.ProductCode)+'~'+ s.MedicineName+'~'+convert(varchar(10),s.TotalCount)+'~'+convert(varchar(10),s.UnitPrice)+ ''')>' + convert(varchar(10),s.ProductCode) + '</a>' Product
		,s.*
	from
	(
		Select 
			s.*
			--,t.MedicineName 
		from
			dbo.t_Stock s 
		join 
			dbo.t_Medicine t
		on	
			s.ProductCode=t.ID


	)s
)s
GO
/****** Object:  StoredProcedure [dbo].[usp_SellAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_SellAdd  1,1,'Suman',1,100,'Pcs',99.99,9.99,90,'Tuhin'
--Select * from dbo.t_Sell
--drop procedure usp_AddSell
CREATE procedure [dbo].[usp_SellAdd]
(
	@InvoiceNO int
	,@CustomerID  int =null
	,@CustomerName varchar(500)=null
	,@ProductCode int
	,@Quantity int 
	,@Unit varchar(100)=null
	,@Price  Decimal(18,2)
	,@Discount Decimal(18,2)=null
	,@NetReceivable Decimal(18,2)=null
	,@Salesman  varchar(500)

)

as
begin

INSERT INTO [MPharma].[dbo].[t_Sell]
           (
           InvoiceNO
           ,[CustomerID]
           ,[CustomerName]
           ,[ProductCode]
           ,[Quantity]
           ,[Unit]
           ,[Price]
           ,[Discount]
           ,[NetReceivable]
           ,[Date]
           ,[Salesman])
     VALUES
           (
           @InvoiceNO
           ,@CustomerID
           ,@CustomerName 
           ,@ProductCode 
           ,@Quantity 
           ,@Unit 
           ,@Price 
           ,@Discount 
           ,@NetReceivable
          ,GETDATE()
           ,@Salesman
           )
end

GO
/****** Object:  StoredProcedure [dbo].[usp_ShowSale]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_ShowSale 1

CREATE procedure [dbo].[usp_ShowSale]
(
@InvoiceNO  int
)

as
  select * from [MPharma].[dbo].[t_Sale]  where InvoiceNO=@InvoiceNO

GO
/****** Object:  StoredProcedure [dbo].[usp_StockAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Select * from t_Stock where InvoiceNO = 'AB-5698'
/*

Select Distinct InvoiceNO,Count(Distinct Manufacturer) Manufacturer_Count,Count( Distinct ProductCode) ProductCount ,Sum(TotalCount) Product_Count, Sum(TotalPrice) Total_Price from t_Stock where InvoiceNO = 'AB-5698'
Group By InvoiceNO

*/

--truncate table t_Stock
--exec usp_StockAdd 1,'Beximco','ABC','Carton',100,100,100,1000000,10,1000000,'2020-01-01','2025-01-01','Tuhin'
CREATE Procedure [dbo].[usp_StockAdd]
(
@ProductCode  int
,@Manufacturer varchar(500)
,@Supplier varchar(500)
,@PackageType varchar(500) 
,@PackageCount int
,@ItemPerPackage int
,@QuantityPerItem int
,@TotalCount int
,@UnitPrice decimal(18,2)
,@TotalPrice decimal(18,2)
,@ManufacDate datetime
,@ExpiryDate datetime
,@Inputter varchar(500)


,@MedicineName  varchar(500)
,@GenericName varchar(500)
,@Strength varchar(500)
,@Details varchar(500)

,@ManufacturerPrice decimal(18,2)
,@SellPrice decimal(18,2)


,@InvoiceNO varchar(500)



)

as

begin
INSERT INTO [MPharma].[dbo].[t_Stock]
           ([ProductCode]
           ,[Manufacturer]
           ,[Supplier]
           ,[PackageType]
           ,[PackageCount]
           ,[ItemPerPackage]
           ,[QuantityPerItem]
           ,[TotalCount]
           ,[UnitPrice]
           ,[TotalPrice]
           ,[ManufacDate]
           ,[ExpiryDate]
           ,[EntryDate]
           ,[Inputter]
           
       
           ,[MedicineName]
           ,[GenericName]
           ,[Strength]
           ,[Details]
           
           
           ,[ManufacturerPrice]
           ,[SellPrice]
           ,[InvoiceNO]
           
           
           )
     VALUES
           (@ProductCode
           ,@Manufacturer
           ,@Supplier
           ,@PackageType
           ,@PackageCount
           ,@ItemPerPackage
           ,@QuantityPerItem
           ,@TotalCount
           ,@UnitPrice
           ,@TotalPrice
           ,@ManufacDate
           ,@ExpiryDate
           ,GETDATE()
           ,@Inputter
           
           
           
           ,@MedicineName
           ,@GenericName
           ,@Strength
           ,@Details
           
           
           ,@ManufacturerPrice
           ,@SellPrice
           
           ,@InvoiceNO
           )

	If exists (Select * from [dbo].[t_StockCount])
		update [dbo].[t_StockCount] set TotalCount =TotalCount+@TotalCount  where ProductCode=@ProductCode
	else
		INSERT INTO [dbo].[t_StockCount]
           ([ProductCode]
           ,[TotalCOunt])
     VALUES
           (
			@ProductCode
			,@TotalCount
		   )
	 
	
End

GO
/****** Object:  StoredProcedure [dbo].[usp_SupplierAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_SupplierAdd]
(
	@SupplierName varchar(500)
	,@SupplierAddress varchar(500)
)

as


INSERT INTO [dbo].[t_Supplier]
           (
		   [SupplierName]
           ,[SupplierAddress]
		   )
     VALUES
           (@SupplierName
		   ,@SupplierAddress)

GO
/****** Object:  StoredProcedure [dbo].[usp_TransactionAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_TransactionAdd '123',99.99,'Misc expense','tuhin'
--select * from t_Transaction

CREATE procedure [dbo].[usp_TransactionAdd]
(
	@AccountNO varchar(500)
	,@Amount decimal(18,2)
	,@Narration varchar(500)
	,@Inputter varchar(500)
)
as

INSERT INTO [MPharma].[dbo].[t_Transaction]
           (
           [TransactionDate]
           ,[AccountNO]
           ,[Amount]
           ,[Narration]
           ,[Inputter]
           )
     VALUES
           (
            GETDATE()
           ,@AccountNO
           ,@Amount
           ,@Narration
           ,@Inputter
           )

GO
/****** Object:  StoredProcedure [dbo].[usp_UserCreate]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from t_User
CREATE procedure [dbo].[usp_UserCreate]
(
	@UserID varchar(10)
	,@UserName varchar(500)
	,@Role varchar(50)
	,@Contact varchar(50)
	,@Address varchar(50)
	

)

as

INSERT INTO [dbo].[t_User]
           ([UserID]
           ,[UserName]
           ,[UserRole]
		   ,[Contact]
		   ,[Address]
		   ,[Status]
		   ,[CreateDate]
		   )
     VALUES
           (
				@UserID
				,@UserName
				,@Role
				,@Contact
				,@Address
				,'S'
				,getdate()
		   )

GO
/****** Object:  StoredProcedure [dbo].[uspStockAdd]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select * from t_Stock
--truncate table t_Stock
--exec usp_StockAdd 1,'Beximco','ABC','Carton',100,100,100,1000000,10,1000000,'2020-01-01','2025-01-01','Tuhin'
CREATE Procedure [dbo].[uspStockAdd]
(
@ProductCode  int
,@Manufacturer varchar(500)
,@Supplier varchar(500)
,@PackageType varchar(500) 
,@PackageCount int
,@ItemPerPackage int
,@QuantityPerItem int
,@TotalCount int
,@UnitPrice decimal(18,2)
,@TotalPrice decimal(18,2)
,@ManufacDate datetime
,@ExpiryDate datetime
,@Inputter varchar(500)


)

as

begin
INSERT INTO [MPharma].[dbo].[t_Stock]
           ([ProductCode]
           ,[Manufacturer]
           ,[Supplier]
           ,[PackageType]
           ,[PackageCount]
           ,[ItemPerPackage]
           ,[QuantityPerItem]
           ,[TotalCount]
           ,[UnitPrice]
           ,[TotalPrice]
           ,[ManufacDate]
           ,[ExpiryDate]
           ,[EntryDate]
           ,[Inputter])
     VALUES
           (@ProductCode
           ,@Manufacturer
           ,@Supplier
           ,@PackageType
           ,@PackageCount
           ,@ItemPerPackage
           ,@QuantityPerItem
           ,@TotalCount
           ,@UnitPrice
           ,@TotalPrice
           ,@ManufacDate
           ,@ExpiryDate
           ,GETDATE()
           ,@Inputter
           )
End
GO
/****** Object:  Table [dbo].[t_Category]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_COA]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_COA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNO] [varchar](50) NULL,
	[AccountName] [varchar](50) NULL,
	[AccountType] [varchar](50) NULL,
	[ParentAccountNO] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Invoice]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Invoice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNO] [varchar](50) NULL,
	[InvoiceAmount] [decimal](18, 2) NULL,
	[TotalDiscount] [decimal](18, 2) NULL,
	[VAT] [decimal](18, 2) NULL,
	[TAX] [decimal](18, 2) NULL,
	[NetAmount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[Change] [decimal](18, 2) NULL,
	[Inputter] [varchar](500) NULL,
	[DateTime] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_InvoiceNO]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_InvoiceNO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_Manufacturer]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Medicine]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Medicine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [varchar](50) NULL,
	[CategoryID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Sell]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Sell](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNO] [int] NULL,
	[CustomerID] [varchar](50) NULL,
	[CustomerName] [varchar](500) NULL,
	[ProductCode] [int] NULL,
	[Quantity] [int] NULL,
	[Unit] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[NetReceivable] [decimal](18, 2) NULL,
	[Date] [datetime] NULL,
	[Salesman] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Stock]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NULL,
	[Manufacturer] [varchar](50) NULL,
	[Supplier] [varchar](50) NULL,
	[PackageType] [varchar](50) NULL,
	[PackageCount] [int] NULL,
	[ItemPerPackage] [int] NULL,
	[QuantityPerItem] [int] NULL,
	[TotalCount] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[ManufacDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[EntryDate] [datetime] NULL,
	[Inputter] [varchar](50) NULL,
	[MedicineName] [varchar](50) NULL,
	[GenericName] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Details] [varchar](50) NULL,
	[ManufacturerPrice] [decimal](18, 2) NULL,
	[SellPrice] [decimal](18, 2) NULL,
	[InvoiceNO] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_StockCount]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_StockCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NULL,
	[TotalCOunt] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_Supplier]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](50) NULL,
	[SupplierAddress] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Transaction]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[AccountNO] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Narration] [varchar](50) NULL,
	[Inputter] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_User]    Script Date: 25/01/2021 6:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[UserRole] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
